@media screen and (max-width: 767px) {
    .navbar-collapse {
        padding: 25px;
        background: black;
        border-radius: 15px;
        margin-top: 20px;
    }

    .navbar-collapse ul li {
        border-bottom: 1px solid grey;
        margin-bottom: 7px;
        padding: 5px;
    }

    .form-a .btn-danger {
        padding: 0px 0px;
        height: 40px;
        width: 50px;
    }

    .text-a {
        font-weight: 500 !important;
    }


    .twitter-com img {
        margin-bottom: 35px;
        width: 100% !important;
    }

    .text-box div {
        padding: 32px 16px !important;
        margin-bottom: 40px !important;
    }

    .text-box h3 {
        font-size: 32px !important;
    }

    .twitter-com .right-content {
        width: 100% !important;
        margin: 35px 0 !important;
    }

    .twitter-com p {
        font-size: 15px !important;
    }

    .twitter-com h2 {
        font-size: 32px !important;
    }

    .down-footer {
        height: auto !important;
        padding: 15px 0 !important;
        margin-top: 20px;
    }

    .gap-11 {
        gap: 5px !important;
    }

    .down-footer .d-flex.gap-11.justify-content-end.pt-3 {
        justify-content: space-evenly !important;
    }

    .gap-11 img {
        height: 30px;
        width: auto;
    }

    .dragon-section {
        gap: 15px !important;
        padding: 15px 0 !important;
    }

    .navbar-div-main {
        width: 100%;
        margin: 0 auto;
    }

    .nav-btn-div button {
        padding: 6px !important;
        font-size: 9px !important;
        height: 35px !important;
        margin-left: 5px !important;
        width: 70px !important;
    }

    .navbar-div-main > img {
        width: 170px;
        height: auto;
    }
    footer {
        padding: 40px 0 !important;
    }
    .footer-div p a {
        font-size: 14px !important; 
        font-weight: 500 !important;
    }
    .width {
        justify-content: center;
    }
    .footer-div {
        border:none !important;
        padding: 0 !important;
      }
      .dragon-section img {
            width: 250px;
            margin: 20px 0px;
      }
      .card-section {
        padding: 20px 45px !important;
    }
}

@media screen and (min-width: 481px) and (max-width: 992px) {
    .navbar-collapse {
        padding: 25px;
        background: black;
        border-radius: 15px;
        margin-top: 20px;
    }

    .navbar-collapse ul li {
        border-bottom: 1px solid grey;
        margin-bottom: 7px;
        padding: 5px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {}

@media screen and (min-width: 1024px) and (max-width: 1199px) {}

@media screen and (min-width: 1200px) and (max-width: 1919px) {}

@media screen and (min-width: 1920px) {}